.idea/
.DS_Store

.github/workflows/config.yaml
build/plugins/
test/output/*
test/*.yaml
!test/config-sample.yaml
CLAUDE.md
.local_files
config.yaml

# Docker compose
docker-compose.override.yaml

# Local directories
tmp/
output/
.vscode